.container
{
  position: absolute;
  top: 0;
  left: 0;

  background: #1D1F22;

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

form
{
  width: 97%;
  height: 93%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background: #151719;
  border-radius: 15px;
}

.title
{
  margin-bottom: 40px;
  text-align: center;
}
.title p:first-child
{
  font-size: 33px;
  font-weight: 650;

  margin-bottom: 10px;
}
.title p:last-child
{
  font-size: 14.5px;
}

.input_block
{
  position: relative;
  margin-bottom: 30px;
}
input
{
  width: 340px;
  height: 54px;

  border-radius: 12px;
  border: 2px solid #F1F2F3;
  background: transparent;
  box-sizing: border-box;

  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  padding: 0 24px;
  outline: none;

  color: #FFF;
}
input::placeholder
{
  color: rgba(241, 242, 243, 0.75);
}
.input_block label
{
  background: #151719;

  position: absolute;
  left: 15px;
  top: -8px;

  font-size: 12px;
  font-weight: 500;

  color: rgba(241, 242, 243, 0.95);

  padding: 0 10px;
}
button
{
  width: 340px;
  height: 50px;

  background: #E40915;
  border-radius: 12px;

  font-size: 15px;
  font-weight: 550;

  color: #FFF;

  margin-top: 5px;
}
.link_sign_in
{
  width: 340px;
  display: flex;

  font-size: 13.5px;
  color: #F1F2F3;

  margin-top: 12px;
  gap: 7px;
}
.link_sign_in p
{
  color: #E40915;

  font-weight: 600;
  font-size: 14px;
}
.link_sign_in:hover p
{
  text-decoration: underline;
}
